<div class="container">

  <div class="col-sm">


    <h1>Cadastro Usuário</h1>

    <form [formGroup]="userFormGroup" (ngSubmit)="onSubmitting()">


      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" formControlName="name"
               [ngClass]="{'border-danger': !userFormGroup.controls.name.valid,'border-success': userFormGroup.controls.name.valid}"
        >


      </div>
      <div class="form-group">
        <label for="document">CPF</label>
        <input type="text" class="form-control" id="document" formControlName="document"
               [ngClass]="{'border-danger': !userFormGroup.controls.document.valid,'border-success': userFormGroup.controls.document.valid}"
        >
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email"
               [ngClass]="{'border-danger': !userFormGroup.controls.email.valid,'border-success': userFormGroup.controls.email.valid}"
        >
      </div>
      <button type="submit" class="btn btn-primary">SALVAR</button>
    </form>


  </div>


</div>
